/* General CSS for page */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 54px; /* Padding top by header height */
    margin-bottom: 45px; /* Margin bottom by footer height */
}

@media (min-width: 992px) {
    body {
        padding-top: 56px; /* Padding top by header height */
    }
}

.fadein {
    opacity: 0;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadein-1 {
    animation-delay: 0.1s;
}

.fadein-2 {
    animation-delay: 0.2s;
}

.fadein-3 {
    animation-delay: 0.3s;
}

.fadein-4 {
    animation-delay: 0.4s;
}

.fadein-5 {
    animation-delay: 0.5s;
}

.fadein-6 {
    animation-delay: 0.6s;
}

.fadein-7 {
    animation-delay: 0.7s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeout {
    opacity: 1;
    animation: fadeout 1s;
    -moz-animation: fadeout 1s; /* Firefox */
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    -o-animation: fadeout 1s; /* Opera */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadeout-1 {
    animation-delay: 0.1s;
}

.fadeout-2 {
    animation-delay: 0.2s;
}

.fadeout-3 {
    animation-delay: 0.3s;
}

.fadeout-4 {
    animation-delay: 0.4s;
}

.fadeout-5 {
    animation-delay: 0.5s;
}

.fadeout-6 {
    animation-delay: 0.6s;
}

.fadeout-7 {
    animation-delay: 0.7s;
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(30px);
    }
}

.fadedown {
    opacity: 0;
    animation: fadedown 1s;
    -moz-animation: fadedown 1s; /* Firefox */
    -webkit-animation: fadedown 1s; /* Safari and Chrome */
    -o-animation: fadedown 1s; /* Opera */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadedown {
    from {
        opacity: 0;
        transform: translateY(-56px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeup {
    opacity: 0;
    animation: fadeup 1s;
    -moz-animation: fadeup 1s; /* Firefox */
    -webkit-animation: fadeup 1s; /* Safari and Chrome */
    -o-animation: fadeup 1s; /* Opera */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeup {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-56px);
    }
}

/* CSS for header */

a#long_name {
    display: none;
}

@media (min-width: 576px) {
    a#long_name {
        display: block;
    }

    a#short_name {
        display: none;
    }
}

nav.navbar {
    background-color: #7E1422;
}

nav.navbar a.navbar-brand, nav.navbar li.nav-item:hover p.nav-link, nav.navbar li.nav-item.active p.nav-link {
    color: #FFF;
}

nav.navbar li.nav-item p.nav-link {
    cursor: pointer;
    color: #FFF9;
    margin-bottom: 0;
}

/* CSS for footer */

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

footer.footer a.admin-link {
    color: #17A2B8;
}

/* CSS for the Home page */

img.event-img {
    width: 100%;
    height: auto;
}

div#event-overview p.card-text {
    margin-top: -2px;
}

div#event-overview div.event-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-height: 20px; /* older */
    max-height: 120px; /* browsers */
}

/* CSS for the Jubilee page */

@media (max-width: 768px) {
    div.event-left img {
        width: 100%;
        height: auto;
    }
}

div.event-right h3 {
    margin-bottom: 5px;
}

div.event-right p {
    margin-bottom: 1px;
}

div.event-right p:last-of-type {
    font-size: small;
    margin: 5px 0;
}

div.event-right h6 {
    margin-bottom: 4px;
}

div.event-right p.btn {
    float: left;
    clear: left;
}

@media (min-width: 992px) {
    div.event-left img {
        width: 85%;
        height: auto;
        float: right;
    }

    div.event-right *:not(p.btn) {
        width: 85%;
        float: left;
    }

    div.event-right * {
        margin-left: 2px;
    }

    div.event-right *:not(p.btn) {
        width: 85%;
    }
}

/* CSS for the Contact page */

p.card-text-contact {
    margin: 0;
    padding: 2px 0 2px 7px;
}

p.card-text-contact.card-address {
    border-left: thick solid #64B5F6;
}

p.card-text-contact.card-phone {
    border-left: thick solid #1976D2;
}

p.card-text-contact.card-mail {
    border-left: thick solid #0D47A1;
}

div#map {
    border-radius: 5px;
    height: 250px;
}

@media (min-width: 992px) {
    div#map {
        height: 350px;
    }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #59b1b8;
    box-shadow: 3px 3px 0 #0002;
}

.leaflet-popup-content {
    font-family: 'Roboto Condensed', sans-serif;
}

/* CSS for the Admin page */

div.form-group#admin-form {
    margin-bottom: 10px;
}

button#admin-login-button {
    background-color: #17A2B8;
    border-color: #17A2B8;
}

button#admin-login-button:hover {
    background-color: #13899b;
}

ul.nav-pills {
    margin-bottom: 10px;
}

ul.nav-pills > li.nav-item > a.active {
    background-color: #17A2B8;
}

ul.nav-pills > li.nav-item > a:not(.active) {
    color: #17A2B8;
}

div#menu_committee ul.list-group li.list-group-item:first-of-type {
    background-color: #BBB;
}

ul.list-group li.list-group-item:last-of-type {
    background-color: #EEEE;
}

div.member-functions i.fas:not(:last-of-type) {
    margin-right: 16px;
}

i.rename-member:hover, i[class^='change-event-']:hover, i[class*=' change-event-']:hover {
    color: #17A2B8;
    cursor: pointer;
}

i.delete-event:hover, i.delete-member:hover {
    color: #7E1422;
    cursor: pointer;
}

i.add-member, i.add-event {
    font-size: 20px;
}

i.add-member:hover, i.add-event:hover {
    color: #48FF2C;
    cursor: pointer;
}

@media (min-width: 576px) {
    div.member-row {
        width: 100%;
        position: relative;
        display: table;
    }

    div.member-name, div.member-role, div.member-functions {
        display: table-cell;
        width: 33.33%; /* fallback */
        width: calc(100% / 3);
    }

    div.member-functions {
        text-align: right;
    }

    div.member-role {
        position: absolute;
        left: 50%;
        display: inline;
        width: auto;
        transform: translateX(-50%);
    }
}

button.bootbox-close-button.close {
    margin-left: 0;
}